@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe|Roboto&display=swap");

@font-face {
  font-family: Santio;
  src: url("../font/Santio_Bold.ttf");
}

<<<<<<< HEAD
html,
body {
=======
body, html {
>>>>>>> d2b3d4b62bd6d26e6fa5c70c8926bb6c8d152c7f
  margin: 0;
  padding: 0;
}

h1 { 
  font-family: "Santio"; 
  font-size: 6vh;
  margin-top: 0%;
}

.parallax {
  background-image: url("../img/cleo-topper.jpg");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.one,
.two,
.three,
.threeA,
.four {
  background: none;
}

.one h1, .six h1 {
  color: white;
  margin-left: 8vw;
  font-size: 8vh;
}

.one .italic {
  color: #e7bc0e;
  font-family: "Mr Dafoe";
  margin-left: 8vw;
  font-size: 2.5vh;
 }

.action {
  margin-left: 80vw;
  margin-bottom: 3vh;
  font-family: roboto;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #e7bc0e;
  font-size: smaller;
  letter-spacing: 0.3vh;
  

}

.two  {
  width: 70vw;
  margin-top: 30vh;
}

p {
  font-family: santio;
  color: #6bc1a3;
  margin-left: 20vw;
  line-height: 5vh;
  font-size: 3vh;
}

.white {
  color: white;
}
 p .yellow {
  color: #e7bc0e;
margin:0;
}

.three .img1, .img2, .img3 {
  width: 10vw;
  height: 10vw;
  margin-left: 30vw;
}

.three .img1 {
  background-image: url(../img/stat-workers-color.svg);
  margin-bottom: 3vh;
  
}

.three .img2 {
  background-image: url(../img/stat-pay-color.svg);
  margin-top: 15vh;
  margin-bottom: 3vh;
}

.three .img3 {
  background-image: url(../img/stat-health-color.svg);
  margin-top: 15vh;
  margin-bottom: 3vh;
}


.three {
  margin-top: 40vh;
}

.three * {
  margin-left: 30vw;
  color: white;
}

.three h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #e7bc0e;
  font-size: 8vh;
}

.three p {
  margin-top: 0%;
  margin-bottom: 0;
}

.four{
  width: 70vw;
  height: 50vh;
  margin-left: 18vw;
  margin-top: 10vh;
  margin-bottom: 8vh;
}
.four p {
  color: #7eb8e1;
}

.six {
  background-color: black;
  height: 77vh;
}

.six h1 {
  padding-top: 20vh;
}

.six .button {
  color: white;
  font-family: roboto;
  font-size: 2vh;
  width: 7vw;
  height: 3vh;
  border: white 2px solid;
  text-align: center;
  margin-left: 8vw;
  display: inline-block;
  padding-top: 0.5vh;
 }

 .six .footer {
   color: white;
   font-family: roboto;
   text-align: center;
   width: 100%;
   margin-top: 10vh;
 }

